.green{
    color: green;
}
.row{   
    text-align: center;
}
p{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

span{
    border: solid 1px;
}
header{
    text-align: center;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}